### Redirects to subdomains ############################################
Redirect 301 /blog https://blog.cjthedj97.me/
Redirect 301 /ip https://ip.cjthedj97.me/
Redirect 301 /portfolio https://portfolio.cjthedj97.me/

### Webp checks and rewrite #############################################
RewriteEngine On
RewriteBase /

# Does browser explicitly support webp?
RewriteCond %{HTTP_USER_AGENT} Chrome [OR]

# OR Is request from Page Speed
RewriteCond %{HTTP_USER_AGENT} "Google Page Speed Insights" [OR]

# OR does this browser explicitly support webp
RewriteCond %{HTTP_ACCEPT} image/webp [OR]

# AND does a webp image exists?
RewriteCond %{DOCUMENT_ROOT}/$1\.webp -f

# THEN send the webp image and set the env var webp
RewriteRule (.+)\.(?:jpe?g|png)$ $1.webp [NC,T=image/webp,E=webp,L]

# If REDIRECT_webp env var exists, append Accept to the Vary header
Header append Vary Accept env=REDIRECT_webp
