<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">CJ Saathoff</a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <svg class="svg-inline--fa fa-bars" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path></svg><!-- <i class="fas fa-bars"></i> Font Awesome fontawesome.com -->
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/">Home</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="https://blog.cjthedj97.me">Blog</a></li>
                
                <li class="nav-item dropdown mx-0 mx-lg-1">
                    <a class="nav-link dropdown-toggle py-3 px-0 px-lg-3 rounded" id="navbarDropdownTools" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Data Generators
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownTools">
                        <li><a class="dropdown-item" href="/tools/fakedomain.html">Fake Domain Generator</a></li>
                        <li><a class="dropdown-item" href="/tools/fakeemail.html">Fake Email Generator</a></li>
                        <li><a class="dropdown-item" href="/tools/fakeip.html">Fake IP Generator</a></li>
                        <!-- Add more project links as needed -->
                    </ul>
                </li>

                <li class="nav-item dropdown mx-0 mx-lg-1">
                    <a class="nav-link dropdown-toggle py-3 px-0 px-lg-3 rounded" id="navbarDropdowngames" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        games
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdowngames">
                        <li><a class="dropdown-item" href="/games/shell-command-game">Shell Command Game</a></li>
                    </ul>
                </li>
                
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="https://portfolio.cjthedj97.me/">Portfolio</a></li>
                
                <li class="nav-item dropdown mx-0 mx-lg-1">
                    <a class="nav-link dropdown-toggle py-3 px-0 px-lg-3 rounded" id="navbarDropdownTools" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownTools">
                        <li><a class="dropdown-item" href="/tools/clock.html">Clock</a></li>
                        <li><a class="dropdown-item" href="/tools/ovpn2onc.html">Ovpn2onc Converter</a></li>
                        <li><a class="dropdown-item" href="/ip.html">IP Checker</a></li>
                        <li><a class="dropdown-item" href="/wx-locator.html">Weather</a></li>
                        <!-- Add more project links as needed -->
                    </ul>
                </li>
                <!-- Other nav items -->
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="https://status.cjthedj97.me">Status</a></li>
            </ul>
        </div>
    </div>
</nav>
