<!DOCTYPE html>
<html>
{% include head.html %}

<body onload="updateYear()" id="page-top" class="index">
  {% include nav.html %}

          <!-- Masthead-->
          <header class="masthead text-black text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="assets/img/profilepic.png" alt="..." />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">CJ Saathoff</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-dark">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Tech Enthusiast & IT Professional | Audiophile & DJ | Culinary Enthusiast | Geek | Cybersecurity Advocate</p>
            </div>
        </header>
        <!-- Portfolio Section-->


  {% include footer.html %}
</body>

</html>